@import "../../../scss/variables";
.post-card__text {
    white-space: pre-wrap;
}
.post-card {
    margin-top: 0.5rem;
    width: 30%;
}
.post-card__user {
    display: grid;
    grid-template-columns: 40px 1fr;
}
.post-card__user-data__date {
    font-size: 1rem;
    color: #6c757d;
}
.post-card__user-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.post-card__likes__liked {
    color: green;
}
.post-card__likes__disliked {
    color: red;
}
.post-card__likes {
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: $lighter-dark-blue;
    &:hover {
        cursor: pointer;
    }
}
.delete-post-button {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
}
.post-card__actions {
    display: flex;
    justify-content: space-between;
}
.post-card__user__avatar {
    img {
        width: 32px;
    }
}
@media screen and (max-width: 500px) {
    .post-card {
        width: 100%;
    }
}
