@import "../../../scss/variables";
.button {
    background-color: $canceled-theme;
    border: none;
    color: white;
    font-size: 1.1rem;

    padding: 0.4rem;
    border-radius: 0.5rem;
    &:hover {
        cursor: pointer;
    }
}
