@import "../../../scss/variables";
.context-menu {
    position: absolute;
    margin-right: 2.5rem;
    margin-top: 0.5rem;
    background-color: $lighter-dark-blue;
    padding: 0.5rem;
    border-radius: 1rem;
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        li {
            padding: 0.5rem;
            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }
}
