.news-creator__inputs {
    display: flex;
    flex-direction: column;
}
.news-creator {
    margin-top: 1rem;
}
.news-creator__img {
    margin-left: 0.5rem;
}
.news-creator__btn {
    margin-left: 0.5rem;
}
