.comment-card {
    display: grid;
    grid-template-columns: 5% 85% 10%;
    margin-bottom: 1rem;
}
.comment-card__user__avatar {
    margin-right: 1rem;
}
.comment-card__text {
    margin-left: 1rem;
}
.comment-card__user_date {
    color: #6c757d;
}
.comment-card__imageUrl {
    img {
        margin: 0.5rem 0 0 0 !important;
    }
}
