@import "../../../scss/variables";
.profile-details {
    display: grid;
    width: 100%;
    grid: 1fr 1fr 1fr 1fr;
}
@media screen and (max-width: 625px) {
    .profile-details__tab {
        grid-column: 1 / 5;
        margin: 1rem;
        background-color: $purple-theme;
        border-radius: 1rem;
        padding: 1rem;
    }
    .profile-details__content {
        width: 100%;
    }
}
.profile-details__userinfo {
    grid-column: 1 / 5;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.profile-details-userinfo__avatar {
    text-align: center;
    width: 50%;
}
.profile-details__tab {
    text-align: center;
    font-size: 1.5rem;
}
.active {
    text-decoration: underline;
}
.profile-details__content {
    margin-top: 2rem;
    grid-column: 1 / 5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
