@import "../../../scss/variables";
.post-card__likes__liked {
    color: green;
}
.post-card__likes__disliked {
    color: red;
}
.post-card__likes {
    width: fit-content;
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: $lighter-dark-blue;
    &:hover {
        cursor: pointer;
    }
}
.beat {
    transform: scale(1);
    animation: pulse 1s;
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }

    70% {
        transform: scale(1.25);
    }

    100% {
        transform: scale(1);
    }
}
